app:
  debug: false
  cacher: 'file' # file|redis
  database: 'sqlite3' # sqlite3|mysql
  baseUrl: '/news' # Directory domain
  pages: true # Control hyperlink mode

mysql:
  dsn: 'root:root@tcp(127.0.0.1:3306)/news?charset=utf8mb4&parseTime=True&loc=Local'

sqlite3:
  dsn: "./data/news.db"

redis:
  dsn: ''

log:
  file: '' # There must be empty on GitHub action
