app:
  debug: true
  cache: 'file'
  database: 'sqlite3'

mysql:
  dsn: 'root:root@tcp(127.0.0.1:3306)/news?charset=utf8mb4&parseTime=True&loc=Local'

sqlite3:
  dsn: "./data/news.db"

redis:
  dsn: ''

log:
  file: './news.log'
