<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>404</title>
    <link rel="icon" href="https://ae01.alicdn.com/kf/Hd0ab686ea35a484a8b1d6c40b064b9d1t.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css"/>
    <style>
        .page__bd {
            max-width: 750px;
            margin: auto;
        }

        body {
            background-color: var(--weui-BG-0);
            color: var(--weui-FG);
        }
    </style>
</head>
<body>
<div class="page__bd" style="text-align: center">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">你喜欢这个网站吗？</h1>
            <p class="page__desc">请我喝杯可乐</p>
        </div>
        <div class="weui-grids">
            <a href="javascript:">
                <img src="https://ae01.alicdn.com/kf/H5628a0833deb4a55a4f82175c17773045.jpg" alt="" width="300"
                     height="300">
                <h4 class="weui-grid__label">微信</h4>
            </a>
            <a href="javascript:">
                <img src="https://ae01.alicdn.com/kf/H64029e25b7714b3581011d825f47084aw.jpg" alt="" width="300"
                     height="300">
                <h4 class="weui-grid__label">支付宝</h4>
            </a>
        </div>
    </div>
</div>
</body>
</html>
