<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>{{.RealTitle}}</title>
    <link rel="icon" href="https://ae01.alicdn.com/kf/Hd0ab686ea35a484a8b1d6c40b064b9d1t.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css"/>
    <meta name="google-site-verification" content="5qPbseAOG3zr_auAjX6vFWkZZaOjD409lzGZUNlgKjo" />
    <style>
        .page__bd {
            max-width: 750px;
            margin: auto;
        }

        body {
            background-color: var(--weui-BG-0);
            color: var(--weui-BG-3);
        }

        a {
            color: var(--weui-INDIGO);
        }
    </style>
</head>
<body>

<div class="page__bd">
    <article class="weui-article">
        <h1><a href="{{ home }}">{{.RealTitle}}</a></h1>
        <p class="page__desc">更新日期：{{.Date}}</p>
        <section>
            {{range .Paragraphs}}
                <h2>{{.Subject}}</h2>
                <section>
                    {{range .Bodies}}
                        {{if eq .Type "text"}}
                            <p>{{.Content}}</p>
                        {{else}}
                            <p class="img-div">
                                <img src="{{.Content}}">
                            </p>
                        {{end}}
                    {{end}}
                </section>
                <br/>
            {{end}}
        </section>
    </article>
</div>

<div class="weui-footer">
    <p class="weui-footer__links">
        <a href="{{.Url}}" class="weui-footer__link">查看原文</a>
    </p>
    <p class="weui-footer__text">本文章来自喷嚏网</p>
    <p class="weui-footer__text">Powered by <a href="https://github.com/wenkechen">Wenke</a>|<a href="https://github.com/wenkechen/news">news</a></p>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    $('.img-div img').on('click', function (e) {
        $(e.currentTarget).css({"width": "100%"});
    });
</script>
