<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻列表</title>
    <meta name="google-site-verification" content="5qPbseAOG3zr_auAjX6vFWkZZaOjD409lzGZUNlgKjo">
    <link rel="icon" href="https://ae01.alicdn.com/kf/Hd0ab686ea35a484a8b1d6c40b064b9d1t.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css" />
    <style>
        .page__bd {
            max-width: 750px;
            margin: auto;
        }

        body {
            background-color: var(--weui-BG-0);
            color: var(--weui-FG);
        }
    </style>
</head>
<body>

<div class="page__bd">
    <!--<a href="javascript:" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
    <div class="weui-search-bar" id="searchBar">
        <div class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" name="q" placeholder="搜索"
                       required />
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </div>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="weui-cells searchbar-result" style="display: none;" id="searchResult">
        <div class="weui-cell weui-cell_active weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p class="search-btn google">Search via Google</p>
            </div>
        </div>
        <div class="weui-cell weui-cell_active weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p class="search-btn baidu">Search via Baidu</p>
            </div>
        </div>
    </div>

    <div id="articleList">
        {{range .}}
            {{$dateStr := printf "%.0f" .Score}}
	        <a class="weui-cell  weui-cell_access" href="{{path $dateStr}}">
                <div class="weui-cell__bd">
                    <p>{{.Member}}</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        {{end}}
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
	    var $searchBar = $('#searchBar'),
			    $searchResult = $('#searchResult'),
			    $searchText = $('#searchText'),
			    $searchInput = $('#searchInput'),
			    $searchClear = $('#searchClear'),
			    $searchCancel = $('#searchCancel');
	    hideSearchResult()

	    function hideSearchResult() {
		    $searchResult.hide();
		    $searchInput.val('');
	    }

	    function cancelSearch() {
		    hideSearchResult();
		    $searchBar.removeClass('weui-search-bar_focusing');
		    $searchText.show();
	    }

	    $searchText.on('click', function () {
		    $searchBar.addClass('weui-search-bar_focusing');
		    $searchInput.focus();
	    });
	    $searchInput
			    .on('blur', function () {
				    if (!this.value.length) cancelSearch();
			    })
			    .on('input', function () {
				    if (this.value.length) {
					    $searchResult.show();
				    } else {
					    $searchResult.hide();
				    }
			    })
	    ;
	    $searchClear.on('click', function () {
		    hideSearchResult();
		    $searchInput.focus();
	    });
	    $searchCancel.on('click', function () {
		    cancelSearch();
		    $searchInput.blur();
	    });

	    $('.search-btn').on('click', function (e) {
		    let href = window.location.host
		    let keyword = $('#searchInput').val();
		    if ($(e.target).hasClass('baidu')) {
			    window.open("https://www.baidu.com/s?wd=site:" + href + " " + keyword);
		    } else {
			    window.open("https://www.google.com.hk/search?q=site:" + href + " " + keyword);
		    }
	    })
    });
</script>
